bin/win-x64/api-ms-win-core-console-l1-1-0.dll
bin/win-x64/api-ms-win-core-console-l1-2-0.dll
bin/win-x64/api-ms-win-core-datetime-l1-1-0.dll
bin/win-x64/api-ms-win-core-debug-l1-1-0.dll
bin/win-x64/api-ms-win-core-errorhandling-l1-1-0.dll
bin/win-x64/api-ms-win-core-fibers-l1-1-0.dll
bin/win-x64/api-ms-win-core-file-l1-1-0.dll
bin/win-x64/api-ms-win-core-file-l1-2-0.dll
bin/win-x64/api-ms-win-core-file-l2-1-0.dll
bin/win-x64/api-ms-win-core-handle-l1-1-0.dll
bin/win-x64/api-ms-win-core-heap-l1-1-0.dll
bin/win-x64/api-ms-win-core-interlocked-l1-1-0.dll
bin/win-x64/api-ms-win-core-libraryloader-l1-1-0.dll
bin/win-x64/api-ms-win-core-localization-l1-2-0.dll
bin/win-x64/api-ms-win-core-memory-l1-1-0.dll
bin/win-x64/api-ms-win-core-namedpipe-l1-1-0.dll
bin/win-x64/api-ms-win-core-processenvironment-l1-1-0.dll
bin/win-x64/api-ms-win-core-processthreads-l1-1-0.dll
bin/win-x64/api-ms-win-core-processthreads-l1-1-1.dll
bin/win-x64/api-ms-win-core-profile-l1-1-0.dll
bin/win-x64/api-ms-win-core-rtlsupport-l1-1-0.dll
bin/win-x64/api-ms-win-core-string-l1-1-0.dll
bin/win-x64/api-ms-win-core-synch-l1-1-0.dll
bin/win-x64/api-ms-win-core-synch-l1-2-0.dll
bin/win-x64/api-ms-win-core-sysinfo-l1-1-0.dll
bin/win-x64/api-ms-win-core-timezone-l1-1-0.dll
bin/win-x64/api-ms-win-core-util-l1-1-0.dll
bin/win-x64/api-ms-win-crt-conio-l1-1-0.dll
bin/win-x64/api-ms-win-crt-convert-l1-1-0.dll
bin/win-x64/api-ms-win-crt-environment-l1-1-0.dll
bin/win-x64/api-ms-win-crt-filesystem-l1-1-0.dll
bin/win-x64/api-ms-win-crt-heap-l1-1-0.dll
bin/win-x64/api-ms-win-crt-locale-l1-1-0.dll
bin/win-x64/api-ms-win-crt-math-l1-1-0.dll
bin/win-x64/api-ms-win-crt-multibyte-l1-1-0.dll
bin/win-x64/api-ms-win-crt-private-l1-1-0.dll
bin/win-x64/api-ms-win-crt-process-l1-1-0.dll
bin/win-x64/api-ms-win-crt-runtime-l1-1-0.dll
bin/win-x64/api-ms-win-crt-stdio-l1-1-0.dll
bin/win-x64/api-ms-win-crt-string-l1-1-0.dll
bin/win-x64/api-ms-win-crt-time-l1-1-0.dll
bin/win-x64/api-ms-win-crt-utility-l1-1-0.dll
bin/win-x64/clretwrc.dll
bin/win-x64/clrjit.dll
bin/win-x64/coreclr.dll
bin/win-x64/createdump.exe
bin/win-x64/dbgshim.dll
bin/win-x64/Deltinteger.deps.json
bin/win-x64/Deltinteger.dll
bin/win-x64/Deltinteger.dll.config
bin/win-x64/Deltinteger.exe
bin/win-x64/Deltinteger.pdb
bin/win-x64/Deltinteger.runtimeconfig.json
bin/win-x64/Elements.json
bin/win-x64/hostfxr.dll
bin/win-x64/hostpolicy.dll
bin/win-x64/HtmlAgilityPack.dll
bin/win-x64/Maps.json
bin/win-x64/MediatR.dll
bin/win-x64/Microsoft.Bcl.AsyncInterfaces.dll
bin/win-x64/Microsoft.CSharp.dll
bin/win-x64/Microsoft.DiaSymReader.Native.amd64.dll
bin/win-x64/Microsoft.Extensions.Configuration.Abstractions.dll
bin/win-x64/Microsoft.Extensions.Configuration.Binder.dll
bin/win-x64/Microsoft.Extensions.Configuration.dll
bin/win-x64/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/win-x64/Microsoft.Extensions.DependencyInjection.dll
bin/win-x64/Microsoft.Extensions.Logging.Abstractions.dll
bin/win-x64/Microsoft.Extensions.Logging.dll
bin/win-x64/Microsoft.Extensions.Options.ConfigurationExtensions.dll
bin/win-x64/Microsoft.Extensions.Options.dll
bin/win-x64/Microsoft.Extensions.Primitives.dll
bin/win-x64/Microsoft.VisualBasic.Core.dll
bin/win-x64/Microsoft.VisualBasic.dll
bin/win-x64/Microsoft.VisualStudio.Threading.dll
bin/win-x64/Microsoft.VisualStudio.Validation.dll
bin/win-x64/Microsoft.Win32.Primitives.dll
bin/win-x64/Microsoft.Win32.Registry.dll
bin/win-x64/Microsoft.Win32.SystemEvents.dll
bin/win-x64/mscordaccore_amd64_amd64_6.0.1523.11507.dll
bin/win-x64/mscordaccore.dll
bin/win-x64/mscordbi.dll
bin/win-x64/mscorlib.dll
bin/win-x64/mscorrc.dll
bin/win-x64/msquic.dll
bin/win-x64/Nerdbank.Streams.dll
bin/win-x64/netstandard.dll
bin/win-x64/Newtonsoft.Json.dll
bin/win-x64/OmniSharp.Extensions.JsonRpc.dll
bin/win-x64/OmniSharp.Extensions.LanguageProtocol.dll
bin/win-x64/OmniSharp.Extensions.LanguageServer.dll
bin/win-x64/OmniSharp.Extensions.LanguageServer.Shared.dll
bin/win-x64/Serilog.dll
bin/win-x64/Serilog.Extensions.Logging.dll
bin/win-x64/Serilog.Sinks.File.dll
bin/win-x64/System.AppContext.dll
bin/win-x64/System.Buffers.dll
bin/win-x64/System.Collections.Concurrent.dll
bin/win-x64/System.Collections.dll
bin/win-x64/System.Collections.Immutable.dll
bin/win-x64/System.Collections.NonGeneric.dll
bin/win-x64/System.Collections.Specialized.dll
bin/win-x64/System.ComponentModel.Annotations.dll
bin/win-x64/System.ComponentModel.DataAnnotations.dll
bin/win-x64/System.ComponentModel.dll
bin/win-x64/System.ComponentModel.EventBasedAsync.dll
bin/win-x64/System.ComponentModel.Primitives.dll
bin/win-x64/System.ComponentModel.TypeConverter.dll
bin/win-x64/System.Configuration.dll
bin/win-x64/System.Console.dll
bin/win-x64/System.Core.dll
bin/win-x64/System.Data.Common.dll
bin/win-x64/System.Data.DataSetExtensions.dll
bin/win-x64/System.Data.dll
bin/win-x64/System.Diagnostics.Contracts.dll
bin/win-x64/System.Diagnostics.Debug.dll
bin/win-x64/System.Diagnostics.DiagnosticSource.dll
bin/win-x64/System.Diagnostics.FileVersionInfo.dll
bin/win-x64/System.Diagnostics.Process.dll
bin/win-x64/System.Diagnostics.StackTrace.dll
bin/win-x64/System.Diagnostics.TextWriterTraceListener.dll
bin/win-x64/System.Diagnostics.Tools.dll
bin/win-x64/System.Diagnostics.TraceSource.dll
bin/win-x64/System.Diagnostics.Tracing.dll
bin/win-x64/System.dll
bin/win-x64/System.Drawing.Common.dll
bin/win-x64/System.Drawing.dll
bin/win-x64/System.Drawing.Primitives.dll
bin/win-x64/System.Dynamic.Runtime.dll
bin/win-x64/System.Formats.Asn1.dll
bin/win-x64/System.Globalization.Calendars.dll
bin/win-x64/System.Globalization.dll
bin/win-x64/System.Globalization.Extensions.dll
bin/win-x64/System.IO.Compression.Brotli.dll
bin/win-x64/System.IO.Compression.dll
bin/win-x64/System.IO.Compression.FileSystem.dll
bin/win-x64/System.IO.Compression.Native.dll
bin/win-x64/System.IO.Compression.ZipFile.dll
bin/win-x64/System.IO.dll
bin/win-x64/System.IO.FileSystem.AccessControl.dll
bin/win-x64/System.IO.FileSystem.dll
bin/win-x64/System.IO.FileSystem.DriveInfo.dll
bin/win-x64/System.IO.FileSystem.Primitives.dll
bin/win-x64/System.IO.FileSystem.Watcher.dll
bin/win-x64/System.IO.IsolatedStorage.dll
bin/win-x64/System.IO.MemoryMappedFiles.dll
bin/win-x64/System.IO.Pipelines.dll
bin/win-x64/System.IO.Pipes.AccessControl.dll
bin/win-x64/System.IO.Pipes.dll
bin/win-x64/System.IO.UnmanagedMemoryStream.dll
bin/win-x64/System.Linq.dll
bin/win-x64/System.Linq.Expressions.dll
bin/win-x64/System.Linq.Parallel.dll
bin/win-x64/System.Linq.Queryable.dll
bin/win-x64/System.Memory.dll
bin/win-x64/System.Net.dll
bin/win-x64/System.Net.Http.dll
bin/win-x64/System.Net.Http.Json.dll
bin/win-x64/System.Net.HttpListener.dll
bin/win-x64/System.Net.Mail.dll
bin/win-x64/System.Net.NameResolution.dll
bin/win-x64/System.Net.NetworkInformation.dll
bin/win-x64/System.Net.Ping.dll
bin/win-x64/System.Net.Primitives.dll
bin/win-x64/System.Net.Quic.dll
bin/win-x64/System.Net.Requests.dll
bin/win-x64/System.Net.Security.dll
bin/win-x64/System.Net.ServicePoint.dll
bin/win-x64/System.Net.Sockets.dll
bin/win-x64/System.Net.WebClient.dll
bin/win-x64/System.Net.WebHeaderCollection.dll
bin/win-x64/System.Net.WebProxy.dll
bin/win-x64/System.Net.WebSockets.Client.dll
bin/win-x64/System.Net.WebSockets.dll
bin/win-x64/System.Numerics.dll
bin/win-x64/System.Numerics.Vectors.dll
bin/win-x64/System.ObjectModel.dll
bin/win-x64/System.Private.CoreLib.dll
bin/win-x64/System.Private.DataContractSerialization.dll
bin/win-x64/System.Private.Uri.dll
bin/win-x64/System.Private.Xml.dll
bin/win-x64/System.Private.Xml.Linq.dll
bin/win-x64/System.Reactive.dll
bin/win-x64/System.Reflection.DispatchProxy.dll
bin/win-x64/System.Reflection.dll
bin/win-x64/System.Reflection.Emit.dll
bin/win-x64/System.Reflection.Emit.ILGeneration.dll
bin/win-x64/System.Reflection.Emit.Lightweight.dll
bin/win-x64/System.Reflection.Extensions.dll
bin/win-x64/System.Reflection.Metadata.dll
bin/win-x64/System.Reflection.Primitives.dll
bin/win-x64/System.Reflection.TypeExtensions.dll
bin/win-x64/System.Resources.Reader.dll
bin/win-x64/System.Resources.ResourceManager.dll
bin/win-x64/System.Resources.Writer.dll
bin/win-x64/System.Runtime.CompilerServices.Unsafe.dll
bin/win-x64/System.Runtime.CompilerServices.VisualC.dll
bin/win-x64/System.Runtime.dll
bin/win-x64/System.Runtime.Extensions.dll
bin/win-x64/System.Runtime.Handles.dll
bin/win-x64/System.Runtime.InteropServices.dll
bin/win-x64/System.Runtime.InteropServices.RuntimeInformation.dll
bin/win-x64/System.Runtime.Intrinsics.dll
bin/win-x64/System.Runtime.Loader.dll
bin/win-x64/System.Runtime.Numerics.dll
bin/win-x64/System.Runtime.Serialization.dll
bin/win-x64/System.Runtime.Serialization.Formatters.dll
bin/win-x64/System.Runtime.Serialization.Json.dll
bin/win-x64/System.Runtime.Serialization.Primitives.dll
bin/win-x64/System.Runtime.Serialization.Xml.dll
bin/win-x64/System.Security.AccessControl.dll
bin/win-x64/System.Security.Claims.dll
bin/win-x64/System.Security.Cryptography.Algorithms.dll
bin/win-x64/System.Security.Cryptography.Cng.dll
bin/win-x64/System.Security.Cryptography.Csp.dll
bin/win-x64/System.Security.Cryptography.Encoding.dll
bin/win-x64/System.Security.Cryptography.OpenSsl.dll
bin/win-x64/System.Security.Cryptography.Primitives.dll
bin/win-x64/System.Security.Cryptography.X509Certificates.dll
bin/win-x64/System.Security.dll
bin/win-x64/System.Security.Principal.dll
bin/win-x64/System.Security.Principal.Windows.dll
bin/win-x64/System.Security.SecureString.dll
bin/win-x64/System.ServiceModel.Web.dll
bin/win-x64/System.ServiceProcess.dll
bin/win-x64/System.Text.Encoding.CodePages.dll
bin/win-x64/System.Text.Encoding.dll
bin/win-x64/System.Text.Encoding.Extensions.dll
bin/win-x64/System.Text.Encodings.Web.dll
bin/win-x64/System.Text.Json.dll
bin/win-x64/System.Text.RegularExpressions.dll
bin/win-x64/System.Threading.Channels.dll
bin/win-x64/System.Threading.dll
bin/win-x64/System.Threading.Overlapped.dll
bin/win-x64/System.Threading.Tasks.Dataflow.dll
bin/win-x64/System.Threading.Tasks.dll
bin/win-x64/System.Threading.Tasks.Extensions.dll
bin/win-x64/System.Threading.Tasks.Parallel.dll
bin/win-x64/System.Threading.Thread.dll
bin/win-x64/System.Threading.ThreadPool.dll
bin/win-x64/System.Threading.Timer.dll
bin/win-x64/System.Transactions.dll
bin/win-x64/System.Transactions.Local.dll
bin/win-x64/System.ValueTuple.dll
bin/win-x64/System.Web.dll
bin/win-x64/System.Web.HttpUtility.dll
bin/win-x64/System.Windows.dll
bin/win-x64/System.Xml.dll
bin/win-x64/System.Xml.Linq.dll
bin/win-x64/System.Xml.ReaderWriter.dll
bin/win-x64/System.Xml.Serialization.dll
bin/win-x64/System.Xml.XDocument.dll
bin/win-x64/System.Xml.XmlDocument.dll
bin/win-x64/System.Xml.XmlSerializer.dll
bin/win-x64/System.Xml.XPath.dll
bin/win-x64/System.Xml.XPath.XDocument.dll
bin/win-x64/System.Xml.XPath.XmlDocument.dll
bin/win-x64/TextCopy.dll
bin/win-x64/Tomlyn.dll
bin/win-x64/ucrtbase.dll
bin/win-x64/Wiki.xml
bin/win-x64/WindowsBase.dll
bin/win-x64/Fonts/BigNoodleTooOblique.ttf
bin/win-x64/Languages/i18n-deDE.xml
bin/win-x64/Languages/i18n-esES.xml
bin/win-x64/Languages/i18n-esMX.xml
bin/win-x64/Languages/i18n-frFR.xml
bin/win-x64/Languages/i18n-itIT.xml
bin/win-x64/Languages/i18n-jaJP.xml
bin/win-x64/Languages/i18n-koKR.xml
bin/win-x64/Languages/i18n-plPL.xml
bin/win-x64/Languages/i18n-ptBR.xml
bin/win-x64/Languages/i18n-ruRU.xml
bin/win-x64/Languages/i18n-zhCN.xml
bin/win-x64/Languages/i18n-zhTW.xml
bin/win-x64/Languages/key_links.xml
bin/win-x64/Log/log20230421.txt
bin/win-x64/Log/log20230422.txt
bin/win-x64/Modules/Container.del
bin/win-x64/Modules/Debug Camera.del
bin/win-x64/Modules/Debug Tools.del
bin/win-x64/Modules/Hanamura.pathmap
bin/win-x64/Modules/Horizon.pathmap
bin/win-x64/Modules/KingsRowDM.pathmap
bin/win-x64/Modules/Paris.pathmap
bin/win-x64/Modules/PathfindEditor.del
bin/win-x64/Modules/Route66.pathmap
bin/win-x64/cs/Microsoft.VisualStudio.Threading.resources.dll
bin/win-x64/cs/Microsoft.VisualStudio.Validation.resources.dll
bin/win-x64/de/Microsoft.VisualStudio.Threading.resources.dll
bin/win-x64/de/Microsoft.VisualStudio.Validation.resources.dll
bin/win-x64/es/Microsoft.VisualStudio.Threading.resources.dll
bin/win-x64/es/Microsoft.VisualStudio.Validation.resources.dll
bin/win-x64/fr/Microsoft.VisualStudio.Threading.resources.dll
bin/win-x64/fr/Microsoft.VisualStudio.Validation.resources.dll
bin/win-x64/it/Microsoft.VisualStudio.Threading.resources.dll
bin/win-x64/it/Microsoft.VisualStudio.Validation.resources.dll
bin/win-x64/ja/Microsoft.VisualStudio.Threading.resources.dll
bin/win-x64/ja/Microsoft.VisualStudio.Validation.resources.dll
bin/win-x64/ko/Microsoft.VisualStudio.Threading.resources.dll
bin/win-x64/ko/Microsoft.VisualStudio.Validation.resources.dll
bin/win-x64/pl/Microsoft.VisualStudio.Threading.resources.dll
bin/win-x64/pl/Microsoft.VisualStudio.Validation.resources.dll
bin/win-x64/pt-BR/Microsoft.VisualStudio.Threading.resources.dll
bin/win-x64/pt-BR/Microsoft.VisualStudio.Validation.resources.dll
bin/win-x64/ru/Microsoft.VisualStudio.Threading.resources.dll
bin/win-x64/ru/Microsoft.VisualStudio.Validation.resources.dll
bin/win-x64/tr/Microsoft.VisualStudio.Threading.resources.dll
bin/win-x64/tr/Microsoft.VisualStudio.Validation.resources.dll
bin/win-x64/zh-Hans/Microsoft.VisualStudio.Threading.resources.dll
bin/win-x64/zh-Hans/Microsoft.VisualStudio.Validation.resources.dll
bin/win-x64/zh-Hant/Microsoft.VisualStudio.Threading.resources.dll
bin/win-x64/zh-Hant/Microsoft.VisualStudio.Validation.resources.dll
